DATABASE_URL="postgresql://johndoe:randompassword@localhost:5432/mydb?schema=public"

#*****Optional variables*****
PORT= "3000" #default port
UPDATE_CARDANO_REGISTRY_INTERVAL="120" #seconds delay before updating cardano registry entries
UPDATE_CARDANO_DEREGISTER_INTERVAL="150" #seconds delay before updating cardano deregistered entries

#this is only for seeding
Admin_KEY="abdef_this_should_be_very_secure"
Blockfrost_API_KEY_Mainnet="your_blockfrost_api_key" #your blockfrost api key, receive a free key at https://blockfrost.io/ for the network (e.g. mainnet)
Blockfrost_API_KEY_Preprod="your_blockfrost_api_key" #your blockfrost api key, receive a free key at https://blockfrost.io/ for the network (e.g. preprod)

SEED_ONLY_IF_EMPTY=True #***Optionally*** Will skip seeding if there are entries in the db